In [1]:
import pandas as pd
import numpy as np

In [2]:
%ls datasets/

adult.csv                  census.csv     movies.csv
airline_data.csv           coches.csv     nhanes_2015_2016.csv
antropometria00.csv        cwurData.csv   pokemon.csv
antropometria-dataset.csv  data.csv       reg_data.csv
Book3.csv                  headbrain.csv  sample_pivot.csv
Canada.xlsx                mic2.xlsx      tips.csv
Cartwheeldata.csv          mic.xlsx       weight-height.csv

In [3]:
pip install openpyxl

Requirement already satisfied: openpyxl in /srv/conda/envs/notebook/lib/python3.7/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /srv/conda/envs/notebook/lib/python3.7/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install xlrd

Requirement already satisfied: xlrd in /srv/conda/envs/notebook/lib/python3.7/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
path = 'antropometria-dataset.csv'
df = pd.read_csv(path)
df.head(2)

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.70,2,146.4,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.65,2,145.1,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101

In [6]:
x = df.columns.tolist()
x.sort()
x

['PrimaryLast',
 'cadera',
 'cintura',
 'code_upm',
 'desc_ent',
 'diastol',
 'edad',
 'emb',
 'entidad',
 'est_dis',
 'est_marg',
 'est_urb',
 'est_var',
 'folio',
 'hpresion',
 'htension',
 'intp',
 'meses',
 'peso',
 'pondef',
 'ropa',
 'sexo',
 'sistol',
 'talla',
 'tbrazo',
 'temb']

In [7]:
myPivot = pd.pivot_table(df,
                         index = ['desc_ent'],
                         values = ['peso'],
                         aggfunc = ['mean'],
                         #aggfunc en python average es el default en pivot table y en excel es la suma
                        
                        )
myPivot

                                      mean
                                      peso
desc_ent
AGUASCALIENTES                   66.357786
BAJA CALIFORNIA                  68.467270
BAJA CALIFORNIA SUR              71.809198
CAMPECHE                         65.418475
CHIAPAS                          57.613775
CHIHUAHUA                        66.656005
COAHUILA DE ZARAGOZA             68.154142
COLIMA                           68.743648
DISTRITO FEDERAL                 65.119273
DURANGO                          66.354922
GUANAJUATO                       63.936390
GUERRERO                         60.466315
HIDALGO                          59.995917
JALISCO                          66.697270
MEXICO                           60.680850
MICHOACAN DE OCAMPO              64.900000
MORELOS                          63.541295
NAYARIT                          66.541827
NUEVO LEON                       67.239853
OAXACA                           58.800067
PUEBLA                           60.102996
QUERETARO                        63.547342
QUINTANA ROO                     64.238904
SAN LUIS POTOSI                  60.576912
SINALOA                          68.051272
SONORA                           68.849473
TABASCO                          66.554701
TAMAULIPAS                       68.210911
TLAXCALA                         62.085398
VERACRUZ DE IGNACIO DE LA LLAVE  62.546117
YUCATAN                          62.706315
ZACATECAS                        64.238524

In [13]:
myPivot = pd.pivot_table(df,
                         index = ['desc_ent','sexo'],
                         values = ['peso'],
                         aggfunc = ['mean'],
                         #aggfunc en python average es el default en pivot table y en excel es la suma
                        
                        )

pd.set_option('display.max_rows',5000)


myPivot

                                           mean
                                           peso
desc_ent                        sexo
AGUASCALIENTES                  1     69.985381
                                2     63.254292
BAJA CALIFORNIA                 1     71.391818
                                2     65.893667
BAJA CALIFORNIA SUR             1     75.561015
                                2     68.168959
CAMPECHE                        1     68.622637
                                2     62.920493
CHIAPAS                         1     58.365222
                                2     57.096111
CHIHUAHUA                       1     68.892642
                                2     64.815295
COAHUILA DE ZARAGOZA            1     68.873094
                                2     67.467348
COLIMA                          1     70.998878
                                2     66.978393
DISTRITO FEDERAL                1     69.460661
                                2     61.654128
DURANGO                         1     68.846451
                                2     64.400031
GUANAJUATO                      1     65.008000
                                2     63.100995
GUERRERO                        1     62.611437
                                2     58.899850
HIDALGO                         1     61.747958
                                2     58.972554
JALISCO                         1     67.076482
                                2     66.418111
MEXICO                          1     63.140314
                                2     58.887882
MICHOACAN DE OCAMPO             1     66.374612
                                2     63.784311
MORELOS                         1     65.741943
                                2     62.195391
NAYARIT                         1     68.822143
                                2     64.890564
NUEVO LEON                      1     70.168106
                                2     64.823014
OAXACA                          1     60.810332
                                2     57.450557
PUEBLA                          1     61.866875
                                2     58.820175
QUERETARO                       1     66.751233
                                2     60.860793
QUINTANA ROO                    1     65.149528
                                2     63.538000
SAN LUIS POTOSI                 1     62.614907
                                2     58.979163
SINALOA                         1     71.122911
                                2     65.565234
SONORA                          1     70.880406
                                2     67.024857
TABASCO                         1     69.255801
                                2     64.190187
TAMAULIPAS                      1     72.060601
                                2     64.866851
TLAXCALA                        1     64.784437
                                2     60.201164
VERACRUZ DE IGNACIO DE LA LLAVE 1     65.324094
                                2     60.565646
YUCATAN                         1     65.717541
                                2     60.537515
ZACATECAS                       1     66.096483
                                2     62.757788

### Explanation of Results

First, I opened the csv file with pandas in order to view the data in Python. Then, once I had access to the data, I proceeded to display the names of the columns so that I could identify the variables of interest for the activity, which in this case were weight ('peso'), state ('desc_ent'), and gender ('sexo'). After I identified them, I proceeded to create a Pivot Table that showed the average weight according to state and then, according to sex, so that the table is displayed in a more concise and legible way.