In [1]:
%ls

adult.csv                  coches.csv            pokemon.csv
airline_data.csv           cwurData.csv          README.md
antropometria00.csv        data.csv              reg_data.csv
antropometria-dataset.csv  datasets/             requirements.txt
Book3.csv                  headbrain.csv         sample_pivot.csv
Canada.xlsx                mic2.xlsx             tips.csv
Cartwheeldata.csv          mic.xlsx              Untitled1.ipynb
census.csv                 movies.csv            Untitled.ipynb
Class1                     nhanes_2015_2016.csv  weight-height.csv

In [2]:
%ls datasets\

ls: cannot access 'datasets\': No such file or directory

In [3]:
%ls datasets/

adult.csv                  census.csv     movies.csv
airline_data.csv           coches.csv     nhanes_2015_2016.csv
antropometria00.csv        cwurData.csv   pokemon.csv
antropometria-dataset.csv  data.csv       reg_data.csv
Book3.csv                  headbrain.csv  sample_pivot.csv
Canada.xlsx                mic2.xlsx      tips.csv
Cartwheeldata.csv          mic.xlsx       weight-height.csv

In [4]:
import pandas as pd

In [5]:
pip install xlrd

Requirement already satisfied: xlrd in /srv/conda/envs/notebook/lib/python3.7/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [6]:
path ='datasets/Canada.xlsx'

In [7]:
pip install openpyxl

Requirement already satisfied: openpyxl in /srv/conda/envs/notebook/lib/python3.7/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /srv/conda/envs/notebook/lib/python3.7/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
df = pd.read_excel(path,
                   engine = 'openpyxl',
                   sheet_name = 'Canada by Citizenship',
                   skiprows = range(20),
                   skipfooter = 2
                  )
df.head(2)

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2012,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Immigrants,Foreigners,Afghanistan,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,16.0,...,2635.0,2004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Immigrants,Foreigners,Albania,908.0,Europe,925.0,Southern Europe,901.0,Developed regions,1.0,...,620.0,603.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.drop(['Type','Coverage','AREA','REG','DEV','DevName'],axis = 1,
         inplace = True)

KeyError: "['Type' 'Coverage' 'AREA' 'REG' 'DEV' 'DevName'] not found in axis"

In [14]:
df.columns

Index([     'OdName',    'AreaName',     'RegName',          1980,
                1981,          1982,          1983,          1984,
                1985,          1986,          1987,          1988,
                1989,          1990,          1991,          1992,
                1993,          1994,          1995,          1996,
                1997,          1998,          1999,          2000,
                2001,          2002,          2003,          2004,
                2005,          2006,          2007,          2008,
                2009,          2010,          2011,          2012,
                2013, 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
       'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
       'Unnamed: 50'],
      dtype='object')

In [15]:
df = pd.read_excel(path,
                   engine = 'openpyxl',
                   sheet_name = 'Canada by Citizenship',
                   skiprows = range(20),
                   skipfooter = 2
                  )
df.head(2)

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2012,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Immigrants,Foreigners,Afghanistan,935.0,Asia,5501.0,Southern Asia,902.0,Developing regions,16.0,...,2635.0,2004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Immigrants,Foreigners,Albania,908.0,Europe,925.0,Southern Europe,901.0,Developed regions,1.0,...,620.0,603.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN